body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }

/* table.css */
table {
    width: auto; /* Largeur automatique basée sur le contenu */
    margin: 20px 10%; /* Marge de 10% à gauche et à droite, 20px en haut et en bas */
    border-collapse: collapse;
    table-layout: auto; /* La largeur des colonnes s'adapte au contenu */
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: center; /* Centrer le texte horizontalement */
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    min-width: 50px; /* Largeur minimale pour les colonnes */
  }
  
  /* Styles pour les en-têtes de colonnes */
  th {
    background-color: transparent; /* Pas de fond */
    font-weight: normal; /* Texte normal (non gras) */
    vertical-align: middle; /* Centrer verticalement */
  }
  
  /* Styles spécifiques pour les cellules contenant des coches */
  td {
    vertical-align: middle; /* Centrer verticalement le contenu */
  }