{{ $data := index .Site.Data "missions" }}

<table>
  <thead>
    <tr>
      <th>Poste</th>
      <th>Durée</th>
      <th>Date</th>
      {{ range $data.technologies }}
        <th>
          <div class="rotated-th">
					  <span class="rotated-th__label">
              {{ . }}
            </span>
          </div>       
        </th>
      {{ end }}
    </tr>
  </thead>
  <tbody>
    {{ range sort $data.missions "date" "desc" }}
      <tr>
        <td><a href="{{ $.Site.BaseURL }}missions/{{ .slug }}">{{ .poste }}</a></td>
        <td>{{ .duree }}</td>
        <td>{{ .date }}</td>
        {{ range .technologies }}
          <td>{{ if . }}<span class="coche-verte">✓</span>{{ end }}</td>
        {{ end }}
      </tr>
    {{ end }}
  </tbody>
</table>